<html>
  <style>
    input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
    </style>
  <head>
    <title>CHATBOT</title>
  </head>
  <body>
    <h1>CHATBOT</h1>
    <form>
      <label for="name">Choose the sender id (DB Name):</label>
      <select id="name" name="name">
        <option value="srudeep">Srudeep</option>
        <option value="arun">Arun</option>
      </select>
      <label for="text">You:</label><br>
      <input type="text" id="text" name="text"><br>
      {{val}}<br>
       
    </form>
    <img src="{{image}}">
  </body>
</html> 

